<launch>
    <!--Bloco 1: argumentos do launch file.-->
    <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
    <arg name="visualize" default="true"/>
    <arg name="smartdrive" default="false"/>
    <arg name="player_name" default="p_jferreira"/>
    <arg name="player_color" default="Red"/>
    <arg name="x_pos" default="-5.0"/>
    <arg name="y_pos" default="3.0"/>
    <arg name="z_pos" default="0.0"/>

    <group ns="$(arg player_name)">
        <param name="tf_prefix" value="$(arg player_name)"></param>
        <!--Bloco 3: Carregamento do xacro do robot para o parâmetro robot_description.-->
        <param name="robot_description" command="$(find xacro)/xacro --inorder $(find g16_description)/urdf/p_g16.urdf.xacro player_name:=$(arg player_name) player_color:=$(arg player_color)" />

        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    

    <!--Include do spawn.launch-->
    <include file="$(find g16_bringup)/launch/spawn.launch">
        <arg name="player_name" value="$(arg player_name)"/>
        <arg name="x_pos" value="$(arg x_pos)"/>
        <arg name="y_pos" value="$(arg y_pos)"/>
        <arg name="z_pos" value="$(arg z_pos)"/>
    </include>
    </group>    
    
    
    <node if="$(arg smartdrive)" pkg="g16_player" type="smartdriver" name="$(arg player_name)" respawn="true"/>
    

    <!-- Include do teleop.launch-->
    <!-- <include file="$(find p_jferreira_bringup)/launch/teleop.launch">
        <arg name="player_name" value="$(arg player_name)"/>
    </include> -->
</launch>
