<launch>
    <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
    <arg name="player_name" default="p_jferreira"/>

    <group ns="$(arg player_name)">
        <node pkg="g16_bringup" type="myteleop.py" name="myteleop"  output="screen">
        <param name="~default_topic" value="/$(arg player_name)/cmd_vel"></param>
        </node>
    </group>

</launch>